.form {
  width: 90%;
  height: 50rem;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem;
}

.campo{
  display: flex;
  flex-direction: column;

}

.campo label{
  margin-bottom: 1rem;
}

.campo input, .btn{
  padding: 1rem;
  border-radius: .8rem;
  outline: none;
  border:1px solid var(--gray-dark);
}

select{
  padding: 1rem;
  border-radius: .8rem;
  outline: none;
  border:1px solid var(--gray-dark);
}

.btn{
  background-color: var(--primary);
  color: var(--white);
  font-weight: bold;
}

.btn:hover{
  background-color: #3f48ed;
  cursor: pointer;
}
table{
  margin: 0% auto;
}

table,th,td{
  width: 95%;
  padding: 1rem;
}

.table--title th {
  background-color: var(--gray-dark);
  color: white;
}
.table__btn {
  border-radius: .5rem;
  border: none;
  color: var(--white);
  padding: .2rem 1rem;
  cursor: pointer;
}

.btn--primary{
  background: var(--primary);
}
.btn--delete{
  background: rgb(193, 39, 39);
}

.item__products td{
  border-bottom: 1px solid var(--gray);
}

.item__products:nth-child(2n){
  background-color: var(--gray);
}